<div class="container-fluid bg-white py-2 shadow-sm">
    <div class="row">
        <div class="col-lg-4 col-12">
            <a class="brand" routerLink="/">ShopName </a>
        </div>

        <div class="col-lg-4 offset-lg-4 mt-3 col-12">
            <a routerLink="/" class="link">
                <i class="fa-solid fa-house"></i>
                Home
            </a>
            <a routerLink="/cart" class="link">
                <i class="fa-solid fa-cart-shopping"></i>
                Cart <span class="fw-bold ">[{{cartCount}}]</span>
            </a>
        </div>



    </div>
</div>