.productBox {
  background-color: hsl(0, 0%, 100%);
  padding: 50px 50px;
}
.productBox img {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  width: 90%;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
@media screen and (max-width: 600px) {
  .productBox img {
    width: 100%;
  }
}
