.cartBox {
  padding: 50px 50px;
  background-color: #fff;
}
.cartBox img {
  width: 90%;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.price-box {
  padding: 30px 30px;
  background-color: #fff;
}
.EmptyCart {
  display: flex;
  align-items: center;
  justify-content: center;
}
.EmptyCart img {
  width: 50%;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
