<app-navbar></app-navbar>


<main class="container-fluid p-0">

    <!--Banner Start-->
    <div id="carouselExampleAutoplaying" class="carousel slide bg-dark" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div *ngFor="let image of BannerImages; let i = index"
                [ngClass]="{'carousel-item': true, 'active': i === 0}">
                <img [src]="image.img" class="d-block w-100" alt="Banner image {{image.id}}">
            </div>
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <!--Banner End-->

    <!--Category Box Start-->
    <div class="container mt-5 mb-5">
        <h4 class="text-center">Main Categories</h4>
        <div class="row categoriesBox">
            <div class="col-lg-3 col-6 categoriesContent" *ngFor="let data of getCategoryData">
                <a>
                    <img src="{{data.img}}">
                    <h4>{{data.name}}</h4>
                </a>
            </div>
        </div>
    </div>
    <!--Category Box End-->
</main>