.categoriesBox {
  text-align: center;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  background-color: #fff;
}
.categoriesBox a {
  text-decoration: none;
  color: #000;
}
.categoriesContent {
  padding: 20px 20px;
}

.categoriesContent img {
  width: 150px;
  height: 150px;
  object-fit: contain;
  border-radius: 24px;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -ms-border-radius: 24px;
  -o-border-radius: 24px;
  border: 2px solid #1c615d;
}
.categoriesContent h4 {
  margin-top: 15px;
  font-size: 18px;
}
.productBox {
  background-color: #fff;
  padding: 30px 50px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.productContent .productImg {
  height: 200px;
  width: 100%;
}
.productContent img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}
.productContent h4 {
  font-size: 16px;
  margin-top: 16px;
}

.productBox a {
  text-decoration: none;
  font-size: 14px;
  color: #000;
  text-align: center;
  padding: 10px;
}
.productBox a:hover {
  font-weight: 400;
}
.productLink {
  text-decoration: none;
  font-size: 14px;
  color: #000;
  font-weight: 400;
  text-align: center;
  padding: 10px;
}
.title-link {
  border-bottom: 1px solid #00000036;
  padding-top: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.title-link a {
  font-size: 20px !important;
  font-weight: bold !important;
  letter-spacing: 1px;
  line-height: 2px;
  color: #00003f !important;
}
