<app-navbar></app-navbar>


<main class="container-fluid p-0">

    <!--Banner Start-->
    <div id="carouselExampleAutoplaying" class="carousel slide bg-dark" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div *ngFor="let image of BannerImages; let i = index"
                [ngClass]="{'carousel-item': true, 'active': i === 0}">
                <img [src]="image.img" class="d-block w-100" alt="Banner image {{image.id}}">
            </div>
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <!--Banner End-->

    <!--Category Box Start-->
    <div class="container mt-5 mb-5">
        <h4 class="text-center">Main Categories</h4>
        <div class="row categoriesBox">
            <div class="col-lg-3 col-6 categoriesContent" *ngFor="let data of getCategoryData">
                <a [routerLink]="['product-page',data.code]">
                    <img src="{{data.img}}">
                    <h4>{{data.name}}</h4>
                </a>
            </div>
        </div>
    </div>
    <!--Category Box End-->



    <!--Show Product start-->
    <!--Show Appliance Product -->
    <div class="container mt-3 mb-3">
        <div class="row productBox">
            <p>
                <a class="float-start link-offset-3" [routerLink]="['/product-page','appliances']">Best Of Appliance</a>
                <a class="float-end" [routerLink]="['/product-page','appliances']"><i
                        class="fa-solid fa-circle-arrow-right"></i></a>
            </p>
            <div class="col-lg-3 mt-3" *ngFor="let data of getApplianceProductData; index as i">
                <a [routerLink]="['/product-detail',data.pdCategory,data.pdId]" class="productLink">
                    <div class="productContent" *ngIf="i<4">
                        <div class="productImg">
                            <img src="{{data.pdImg}}" alt="{{data.pdName}}">
                        </div>
                        <h4>{{data.pdName}}</h4>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <!--Show Appliance Product -->
    <!--Show Product End-->


</main>